{% extends "base.html" %}
{% load static %}
{% block page_title %}All Posts{% endblock page_title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/allposts.css" %}">
{% endblock css_files %}
{% block content %}

  <main class="posts-container">
    <div class="posts-grid">
        {% for post in posts %}
            <a href="/posts/{{ post.slug }}" class="post-card">
                <img src="{{post.image}}" alt="Post Image">
                <h2 class="post-title">{{ post.title|title }}</h2>
            </a>
        {% endfor %}
    </div>
  </main>
{% endblock content %}