{% extends "base.html" %}
{% load static %}
{% block page_title %}Post{% endblock  %}
{% block css_files %}
    <link rel='stylesheet' href="{% static 'blog/post.css' %}">
{% endblock css_files %}
{% block content %}
<div class="post-header">
    <div class="post-container">
        <div class="title-and-image">
            <h1 class="post-title">{{title}}</h1>
            <img src="{{image}}" alt="Post Image" class="post-image">
        </div>
    </div>
</div>

<div class="post-content-card">
    <p>
        {{description}}
    </p>
</div>
{% endblock content %}